<header class="login-header group">
  <ul class="signup-login-list">
    <li>
      <%= link_to "Log in", new_session_url, class: "login link" %>
    </li>
    <li>
      <%= link_to "Sign up", new_user_url, class: "signup link" %>
    </li>
  </ul>
</header>
<% flash[:errors].try(:each) do |error| %>
  <div class="login-errors"><%= error  %></div>
<% end %>
<main class="login-main">
    <div class="login-sidebar">
      <%= image_tag("pennyroyal_logo_no_outline.png", class: "logo-image") %>
    </div>
  <h1 class="login-text">Log in to PennyRoyal</h1>

  <form class="login-form" action="/session" method="POST">
    <%= auth_token %>
    <label class="login-input-label">Your Email
    <input
      class="login-input"
      type="text"
      name="user[email]"
      value="<%= flash[:errors] ? params[:user][:email] : "" %>">
    </label>
    <label class="login-input-label">Password
    <input
      class="login-input"
      type="password"
      name="user[password]"
      value="<%= flash[:errors] ? params[:user][:password] : "" %>">
    </label>
    <button class="log-in-button" type="submit">LOG IN</button>
    </form>
    <form action="/session" method="POST">
      <%= auth_token %>
      <input
        type="hidden"
        name="user[email]"
        value="guest@ourfineestablishment.com">
      <input type="hidden"
      name="user[password]"
      value="guestpassword">
      <button class="guest-button" type="submit">SIGN IN AS GUEST</button>
    </form>
</main>
<footer class="footer login group">
  <ul class="footer-list small group">
    <li>
      <a href="http://appacademy.io" class="app-footer-link small">
        Support Community
      </a>
    </li>
    <li>
      <a href="http://appacademy.io" class="app-footer-link small">
        Terms of Use
      </a>
    </li>
    <li>
      <a href="http://appacademy.io" class="app-footer-link small">
        Privacy
      </a>
    </li>
    <li>
      <a href="http://appacademy.io" class="app-footer-link small">
        Legal and Trademark Notices
      </a>
    </li>
    <li>
      <a href="http://appacademy.io" class="app-footer-link small">
        About PennyRoyal
      </a>
    </li>
  </ul>
</footer>
