<header class="login-header">
  <ul class="signup-login-list">
    <li>
      <%= link_to "Log in", new_session_url, class: "login link" %>
    </li>
    <li>
      <%= link_to "Sign up", new_user_url, class: "signup link" %>
    </li>
  </ul>
</header>
<% flash[:errors].try(:each) do |error| %>
  <div class="login-errors"><%= error  %></div>
<% end %>
<main class="login-main">

<h1 class="login-text">Log in to PennyRoyal</h1>

<form class="login-form" action="/session" method="POST">
  <%= auth_token %>
  <label class="login-input-label">Your Email
  <input
    class="login-input"
    type="text"
    name="user[email]"
    value="<%= flash[:errors] ? params[:user][:email] : "" %>">
  </label>
  <label class="login-input-label">Password
  <input
    class="login-input"
    type="password"
    name="user[password]"
    value="<%= flash[:errors] ? params[:user][:password] : "" %>">
  </label>
  <button class="log-in-button" type="submit">LOG IN</button>
</form>
</main>
