<!DOCTYPE html>
<html>
<head>
  <title>PennyRoyal</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

    <% if logged_in? %>
      <header class="user-header group">
        <ul>
          <li>
            <%= button_to "logout", session_url, method: :delete, class: "header-link" %>
          </li>
          <li>
            <a href="#/account/user_profile" class="header-link">hello <%= current_user.email %></a>
          </li>
      </ul>
      </header>
    <% end %>


    <%= yield %>
</body>
</html>
