<!DOCTYPE html>
<html>
<head>
  <title>PennyRoyal</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'pennyroyal_fav', type: 'image/png' %>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71552548-1', 'auto');
  ga('send', 'pageview');

  </script>
</head>
<body>
    <% if logged_in? %>
      <header class="user-header group">
        <ul>
          <li class="group">
            <%= button_to "logout", session_url, method: :delete, class: "header-link" %>
          </li>
          <li class="group">
            <a href="#/accounts/modal/edit" class="header-link">
              Accounts
            </a>
          </li>
          <li class"group">
            <a href="#/accounts/modal/user_profile" class="header-link">
              hello <%= current_user.email %>
            </a>
          </li>
      </ul>
      </header>
    <% end %>


    <%= yield %>


</body>
</html>
