<!DOCTYPE html>
<html>
<head>
  <title>PennyRoyal</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<% if logged_in? %>
  <%= button_to "Logout", session_url, method: :delete %>
<% end %>


<%= yield %>

</body>
</html>
