<!DOCTYPE html>
<html>
<head>
  <title>PennyRoyal</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<% if logged_in? %>
  <header class="user-header">
    <ul>
      <li>
        <%= button_to "Logout", session_url, method: :delete, class: "logout-button" %>
      </li>
      <li>

      </li>
  </ul>
  </header>
<% end %>


<%= yield %>

</body>
</html>
